<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" name="form">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        #emailInput="ngModel"
        placeholder="Email adress"
        required
        email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input name="password" ngModel #passwordInput="ngModel" matInput type="password" placeholder="Password" required/>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button *ngIf="!isLoading" type="submit" color="primary">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card>
